.card-types {
    min-height: 56px;
}

.card-img-hoover {
    transition: all 300ms;
    cursor: pointer;
}

.card-img-hoover:hover {
    transform: scale(1.1);
}

.card-img-general {
    width: 24px;
    height: 24px;
}

.tab-content {
    min-height: 200px;
}