main {
    padding-top: 80px;
    padding-bottom: 40px;
}

.cp {
    cursor: pointer;
}

.mx--1 {
    margin-left: -1px;
    margin-right: -1px;
}

#errorHint {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    font-size: 0.875rem;
}